body{
    background-image: url(../images/OF18OA0.jpg);
    background-size: auto;
    font-family: 'Cherry Cream Soda', cursive;
}

#form{
    float:left;
}

.main{

    min-height: 20%;
    margin-top: 20px;
}

.foodQ{
    margin: 5px;
    background-color: #17a2b8;
}

.giphy{
    float: left;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
   
   
}

img{
    margin-left:auto;
    margin-right: auto;
    display: block;
}
.text{
    background-color:#17a2b8;
    color: white;
    font-family: 'Cherry Cream Soda', cursive;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

form{
    background-color: white;
    margin: 10px;
    padding: 20px;

}
.title{

    background-color: #17a2b8;
    color: white;
    font-family: 'Bungee Inline', cursive;
   width:100%;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

nav{
    background-color: #17a2b8;
    color: white;
  
    text-align: center;
    margin: 20px;
    padding: 20px;

}

